<form class="example-form">
  <div>
    <mat-form-field class="example-full-width">
      <input matInput [(ngModel)]="nombrengm" name="nombrengm" placeholder="Nombre">

    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="example-full-width">
      <input pInputText pKeyFilter="num" [(ngModel)]="versionngm" name="version" matInput placeholder="Version api">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input matInput [matDatepicker]="picker" [(ngModel)]="fechangm" name="fecha" placeholder="dd/mm/aa">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="example-full-width">
      <input pInputText pKeyFilter="num" [(ngModel)]="pesongm" name="peso" matInput placeholder="Peso ( GB )">
    </mat-form-field>
  </div>

  <div>
    <!--<mat-form-field>-->
      <!--<mat-select placeholder="Instalado">-->
        <!--<mat-option [(ngModel)]="instaladoSingm" name="instaladoSi" value="optionSi">Sí</mat-option>-->
        <!--<mat-option [(ngModel)]="instaladoNongm" name="instaladoNo" value="optionNo">No</mat-option>-->
      <!--</mat-select>-->
    <!--</mat-form-field>-->
    <mat-checkbox [(ngModel)]="instaladongm" name="instalado" >Instalado</mat-checkbox>
  </div>

</form>

<button mat-raised-button	class="espacio_boton" (click)="guardar()">Guardar</button>
<button mat-stroked-button	(click)="limpiar()">Limpiar</button>


