<!--<div class="ui-g ui-fluid">-->
  <!--<div class="ui-g-12 ui-md-4">-->
    <!--<div class="ui-inputgroup">-->
<form class="example-form">
<div>
    <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
  <input type="text" pInputText placeholder="Peso en Gigas">
  </div>
<br>

      <div>
        <input type="text" pInputText placeholder="Version"/>
      </div>
<br>
      <div>
        <input type="text" pInputText placeholder="Nombre"/>
      </div>
<br>
      <div>
        <input type="text" pInputText placeholder="URL Descarga"/>
      </div>
<br>
      <div>
        <p-calendar [(ngModel)]="valueDate" name="dsa"></p-calendar>
      </div>
<br>
      <div>
        <input type="text" pInputText placeholder="Costo"/>
      </div>

<br>

      <div>
        <input type="text" pInputText placeholder="ID Sistema operativo"/>
      </div>


    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<hr/>
</form>
<p-button label="Guardar" (onClick)="clickGuardar($event)"></p-button>
<p-button label="Limpiar"  styleClass="ui-button-danger" (onClick)="clickLimpiar($event)"></p-button>
