

<p-fieldset>
  <p-header>SO seleccionado</p-header>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse nec placerat justo. Maecenas malesuada ultricies dui, vitae feugiat mi consectetur et. Praesent sit amet fringilla felis. Fusce tincidunt rhoncus nunc ut ornare. Proin eget nibh ut est aliquet pulvinar nec id nunc. In lacinia est quis elementum fermentum. Aliquam eget nisi id lectus facilisis tempor auctor sed mi. Nam scelerisque turpis nisl, sit amet tincidunt diam iaculis in. Donec ultrices lectus in vehicula tincidunt. Aliquam in sapien augue. Sed pellentesque erat nec aliquet dictum. Sed dictum tempor fringilla. Mauris malesuada in mauris sed ultrices. Cras dapibus ex quis lorem hendrerit, sed imperdiet odio rhoncus. Sed interdum urna nisl, in finibus orci pharetra vel.


</p-fieldset>
